.nav-panel {
    background-color: whitesmoke;
}

.display-panel {
    background-color: aliceblue;
}

.main-wrapper {
    height: 100vh;
}

.inner-wrapper {
    height: 85vh;
    margin-top: 5px;
}

.billpay-frame {
    transform: scale(0.80);
    transform-origin: 0 0;
    max-width: 135%;
    width: 125%;
}

.tab-content, .tab-pane {
    height: 100%;
}